<%- include('partials/header', { title: 'Movies' }) %>

<h1>Movies</h1>

<% if (movielist.length === 0) { %>
  <p>No movies found</p>
<% } else { %>
  <ul>
    <% movielist.forEach(m => { %>
      <li><%= m.name %> - <%= m.year %> - Rating: <%= m.rating %></li>
    <% }) %>
  </ul>
<% } %>

<%- include('partials/footer') %>
